/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.logo {
  display: flex;
  align-items: center;
  max-width: 200px;
  width: 100%;
  object-fit: contain;
}

.box {
  display: flex;
  justify-content: center;
  gap: 4rem;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
  .box {
    display: block;
  }
  .box > div:first-child {
    margin: 0 auto;
    margin-bottom: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
